:root {
  --body-color-light: #fefff2; 
  --nav-link-color: #fefff2;
  --nav-bar-color: #213448;
  
}

* {
    margin: 0;
    padding: 0;

}

html, body {
    width: 100%;
    height: 100vh;
    background-color: var(--body-color-light);
}

/*Nav Sect */


.nav-div {
    height: 100px;
    background-color: var(--nav-bar-color);
     display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

.navLink a{
    color: var(--nav-link-color);
    font-size: 1.5rem; 
    margin-left: 100px;
    margin-right: 100px;
    text-decoration: none; 
}

/* Home Sect */

.home {
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./ocean.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1 {
    font-size: 7rem;
    color: var(--nav-link-color);
}

.home p {
    color: var(--nav-link-color);
}

/* Main sect */

.main-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
}

.intro-paragraph-div {
    width: 70%;
}

.popular-links-list {
    list-style-type: none;
}

.popular-links-div{
    text-align: center;
    color: var(--nav-bar-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popular-links-div a {
    text-decoration: none;
     color: var(--nav-bar-color);
}

.popular-links-div li {
    margin-top: 30px;
}

.intro-paragraph-div h1 {
    color: var(--nav-bar-color);
    font-size: 3rem;
}

.intro-subheading {
    font-size: 0.9rem;
}

.intro-paragraph-div p {
    margin-bottom: 30px;
}

.intro-paragraph-div h2 {
    color: var(--nav-bar-color);
    font-size: 2rem;
}

a:hover {
    color: #7bb9fc;
}